.centerContainer {
  background-color: inherit;
  display: flex;
  justify-content: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  width: 60vw;
}

input[type=text], select {
    width: 800px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    border: solid 2.4px #ffedf0;
    text-align: center;
  }

  input::placeholder {
    color: #ff4b66;
  }
  
  input[type=submit] {
    text-align: center;
    width: 100%;
    background-color: #FFB6C1;
    color: #fff7f8;
    padding: 14px 20px;
    margin: 8px 10;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }
  
  input[type=submit]:hover {
    background-color: #f27b8d;
  }

  input[type=text]:focus {
    background-color: rgba(199, 223, 231, 0.507);
  }
  div {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  .cadastro{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .cadastrais{
    display: flex;
    flex-direction: column;
  }

  .centerButton {
    display: flex;
    justify-content: center;
  }